@charset "UTF-8";
/* CSS Document */
a, img, button, input, textarea {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body, h1, h2, h3, h4, h5, p, form, button, dl, dd, dt {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background: #f7f7f7;
    color: #555;
    overflow: hidden;
    font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self;
}

ul, ol, dl, dd, dt {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

a, img, button, input, textarea {
    outline: none;
    border: none;
    background: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
    background: none;
}

input[type=button], input[type=search] {
    -webkit-appearance: none;
    outline: none
}
/*以上是清除默认样式*/

/*以下是具体样式设置*/








#main {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -540px;
    top: 0;
    /*�������ö�λ��Ϊ��ˮƽ����*/
    transform-origin: top;
    -webkit-transform-origin: top;
}

#main ul{
    position: absolute;
    width: 100%;
    height: 100%;
}

#list > li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    z-index: 5;
    /*background-size: cover;*/
    overflow: hidden;
}



#list > li.zIndex {
    z-index: 6;
}









/*第一页*/
#list > li:nth-of-type(1) {
    background: #5652a1;
    display: block;
}
#list > li > div{
    width: 100%;
    height: 1920px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 100% 100%;
}
#list > li:nth-of-type(1) #p1_blackBg{
    background: url("../img/001_blackBg.png") no-repeat;
    background-size: 100% 100%;
}
#list > li:nth-of-type(1) #p1_blackBg #p1_whiteBg{
    width: 870px;
    height: 1700px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -435px;
    background: url("../img/001_whiteBg.png") no-repeat;
    background-size: 100% 100%;

    /*animation-delay: .1s;*/
    /*-webkit-animation-delay: .1s;*/
}
#list > li:nth-of-type(1) #p1_blackBg #p1_whiteBg div img{
    width: 100%;
    height: 100%;
}
#list > li:nth-of-type(1) #p1_blackBg #p1_whiteBg #p1_design{
    width: 876px;
    height: 973px;
    overflow: hidden;

    /*animation:move 1s infinite;*/

    /*animation-iteration-count: 2;*/
    /*-webkit-animation-iteration-count: 2;*/
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    /*animation-iteration-count: infinite;*/
    /*-webkit-animation-iteration-count: infinite;*/
}


#list > li:nth-of-type(1) #p1_blackBg #p1_whiteBg #p1_point{
    position: absolute;
    top: 50px;
    right: 200px;
    width: 123px;
    height: 113px;
    overflow: hidden;

    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}


#list > li:nth-of-type(1) #p1_blackBg #p1_whiteBg #p1_name{
    /*position: absolute;*/
    margin-top: 124px;
    margin-left: 56px;
    width: 223px;
    height: 68px;
    overflow: hidden;

    animation:move 1s infinite;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
#list > li:nth-of-type(1) #p1_blackBg #p1_whiteBg #p1_ui{
    /*position: absolute;*/
    margin-top: 35px;
    margin-left: 56px;
    width: 635px;
    height: 68px;
    overflow: hidden;


    animation:move 1s infinite;
}
@keyframes move {
    0%{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes move {
    0%{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


#list > li:nth-of-type(1) #p1_blackBg #p1_whiteBg #p1_tel{
    /*position: absolute;*/
    margin-top: 35px;
    margin-left: 56px;
    width: 511px;
    height: 45px;
    overflow: hidden;

    animation-delay: .1s;
    -webkit-animation-delay: .1s;
}
#list > li:nth-of-type(1) #p1_blackBg #p1_whiteBg #p1_clear{
    margin-top: 110px;
    width: 873px;
    height: 238px;
    overflow: hidden;
}








#list > li:nth-of-type(2) {
    background: #1a5b9f;
}
#list > li:nth-of-type(2) #p2_pinkBg{
    background-color: #da0030;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_box{
    height: 1601px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -800px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left{
    padding-left: 39px;
    width: 500px;
    height: 1601px;
    background: url("../img/p2_whiteBg.png") no-repeat;
    background-size: 100% 100%;

    position: absolute;
    top: 0px;
    left: 70px;

    animation:move 2s 0.2s 1;
}
@keyframes move {
    0%{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes move {
    0%{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


#list > li:nth-of-type(2) #p2_pinkBg #p2_left div img{
    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-delay: .6s;
    -webkit-animation-delay: .6s;

    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_right{
    width: 450px;
    height: 460px;

    position: absolute;
    top: 378px;
    right: 9px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_right div{
    margin-top: 27px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_right >div:nth-child(1){
    width: 197px;
    height: 48px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_right >div:nth-child(1) img{
    width: 100%;
    height: 100%;
}

#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(1){
    position: absolute;
    top: 50px;
    /*animation:move 1s infinite;*/
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(2){
    position: absolute;
    top: 163px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(3){
    position: absolute;
    top: 239px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(4){
    position: absolute;
    top: 318px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(5){
    position: absolute;
    top: 462px;
    animation:move 1s infinite;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(6){
    position: absolute;
    top: 538px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(7){
    position: absolute;
    top: 767px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(8){
    position: absolute;
    top: 930px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(9){
    position: absolute;
    top: 1017px;
    animation:move 1s infinite;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(10){
    position: absolute;
    top: 1126px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(11){
    position: absolute;
    top: 1320px;
}
#list > li:nth-of-type(2) #p2_pinkBg #p2_left div:nth-child(12){
    position: absolute;
    top: 1412px;
}









#list > li:nth-of-type(3) {
    background: #393a3f;
}
#list > li:nth-of-type(3) #topImg{
    width: 860px;
    height: 580px;
    position: absolute;
    bottom: 430px;
    left: 90px;
}
#list > li:nth-of-type(3) #topImg>div:nth-child(1)>img:nth-child(1){
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
}

#list > li:nth-of-type(3) #topImg>div:nth-child(1)>img:nth-child(2){
    position: absolute;
    top: -45px;
    left: 377px;
    animation:move 1s infinite;
}
#list > li:nth-of-type(3) #topImg>div:nth-child(1)>img:nth-child(3){
    position: absolute;
    top: -6px;
    left: 393px;
    animation:move 1s infinite;
}
#list > li:nth-of-type(3) #topImg>div:nth-child(2){
    margin-top: 18px;
    margin-bottom: 92px;
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
}
#list > li:nth-of-type(3) #topImg>div:nth-child(4){
    margin-top: 25px;
    margin-bottom: 25px;

}
#list > li:nth-of-type(3) #bottomWords{
    position: absolute;
    left: 90px;
    bottom: 255px;
    width: 100%;
    height: 160px;
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
}






#list > li:nth-of-type(4) {
    background: #e9e9e9;
}
#list > li:nth-of-type(4) #p4_top{
    height: 576px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0px;


}
#list > li:nth-of-type(4) #p4_top img{
    margin-left: 56px;
    margin-top: 105px;
    animation:move 1s infinite;
}
#list > li:nth-of-type(4) #p4_middle{
    height: 990px;
    width: 100%;

    position: absolute;
    top: 577px;
    left: 0;
}
#list > li:nth-of-type(4) #p4_middle img{
    margin-left: 56px;
    margin-bottom: 56px;

    animation-delay: .0s;
    -webkit-animation-delay: .0s;

    animation-duration: 3s;
    -webkit-animation-duration: 3s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
#list > li:nth-of-type(4) #p4_bottom{
    height: 132px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    right: 111px;
}
#list > li:nth-of-type(4) #p4_bottom>img:nth-child(1){
    position: absolute;
    top: 10px;
    right: 162px;
}
#list > li:nth-of-type(4) #p4_bottom>img:nth-child(2){
    position: absolute;
    top: 0;
    right: 45px;
    animation:move 1s infinite;
}
#list > li:nth-of-type(4) #p4_bottom>img:nth-child(3){
    position: absolute;
    top: 25px;
    right: 54px;
    animation:move 1s infinite;
}





#list > li:nth-of-type(5) {
    background: #ffffff;
}
#list > li:nth-of-type(5) #p5_left{
    width: 760px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 70px;
}
#list > li:nth-of-type(5) #p5_left>img:nth-child(1){
    position: absolute;
    top: 240px;
    left: 0;
}
#list > li:nth-of-type(5) #p5_left>img:nth-child(2){
    position: absolute;
    top: 400px;
    left: 0;
}
#list > li:nth-of-type(5) #p5_left>img:nth-child(3){
    position: absolute;
    top: 700px;
    left: 0;
    animation:move 1s infinite;
}
#list > li:nth-of-type(5) #p5_right{
    width: 832px;
    height: 1512px;

    position: absolute;
    top: 32px;
    left: 197px;
}
#list > li:nth-of-type(5) #p5_right>img:nth-child(1){
    position: absolute;
    top: 0;
    right: 152px;
}
#list > li:nth-of-type(5) #p5_right>img:nth-child(2){
    position: absolute;
    top: 132px;
    right: 0px;
    animation:rot 1s infinite;
}
@keyframes rot {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    10%{
        transform: rotate(0.2deg);
        -webkit-transform: rotate(0.2deg);
    }
    20%{
        transform: rotate(0.4deg);
        -webkit-transform: rotate(0.4deg);
    }
    30%{
        transform: rotate(0.6deg);
        -webkit-transform: rotate(0.6deg);
    }
    40%{
        transform: rotate(0.8deg);
        -webkit-transform: rotate(0.8deg);
    }
    50%{
        transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
    }
    60%{
        transform: rotate(0.8deg);
        -webkit-transform: rotate(0.8deg);
    }
    70%{
        transform: rotate(0.6deg);
        -webkit-transform: rotate(0.6deg);
    }
    80%{
        transform: rotate(0.4deg);
        -webkit-transform: rotate(0.4deg);
    }
    90%{
        transform: rotate(0.2deg);
        -webkit-transform: rotate(0.2deg);
    }
    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-webkit-keyframes move {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    10%{
        transform: rotate(0.2deg);
        -webkit-transform: rotate(0.2deg);
    }
    20%{
        transform: rotate(0.4deg);
        -webkit-transform: rotate(0.4deg);
    }
    30%{
        transform: rotate(0.6deg);
        -webkit-transform: rotate(0.6deg);
    }
    40%{
        transform: rotate(0.8deg);
        -webkit-transform: rotate(0.8deg);
    }
    50%{
        transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
    }
    60%{
        transform: rotate(1.2deg);
        -webkit-transform: rotate(1.2deg);
    }
    70%{
        transform: rotate(1.4deg);
        -webkit-transform: rotate(1.4deg);
    }
    80%{
        transform: rotate(1.6deg);
        -webkit-transform: rotate(1.6deg);
    }
    90%{
        transform: rotate(1.8deg);
        -webkit-transform: rotate(1.8deg);
    }
    100%{
        transform: rotate(2.0deg);
        -webkit-transform: rotate(2.0deg);
    }
}











#arrow {
    width: 3rem;
    position: absolute;
    left: 50%;
    bottom: .8rem;
    z-index: 99;
    margin-left: -1.5rem;
    animation: 1s infinite arrowTop;
    -webkit-animation: 1s infinite arrowTop;
}

@-webkit-keyframes arrowTop {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, -10px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -30px);
    }
}

@keyframes arrowTop {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    60% {
        opacity: 1;
        transform: translate(0, -10px);
    }
    100% {
        opacity: 0;
        transform: translate(0, -30px);
    }
}

